{% extends "base.html" %}
{% block title %}
    QuizMaster
{% endblock %}
{% block head%}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>
        Welcome to QuizMaster
    </h1>
    <p>
        Register
    </p>
    <form name="registration-form" action='/register' method='post'>
        <label>Name</label>
        <input name="name" type="text" required>
        <label>Email Address</label>
        <input name ="email-address" type="email" required>
        <label>Password</label>
        <input name="password" type="password" required>
        <input type="submit" />
    </form>
    <p>
        Login
    </p>
    <form name="login-form" action='/login' method='post'>
        <label>Email Address</label>
        <input name ="email-address" type="email" required>
        <label>Password</label>
        <input name="password" type="password" required>
        <input type="submit" />
    </form>
{% endblock %}